*.csv
__pycache__/**
.idea/**
open_ai_calls.log
test*
openaiSelenium*
open_ai_calls.json
_*
.venv
generated_cv*
.vscode
chrome_profile
answers.json
/ai_hawk
/data_folder_example
/data_folder_example/secrets.yaml
/Users/prasku/Library/Mobile Documents/com~apple~CloudDocs/Github/AI_Hawk/linkedIn_auto_jobs_applier_with_AI/data_folder_example/secrets.yaml
data_folder_example/secrets.yaml
